body { display: flex; flex-direction: column; background-color: beige;}
header {align-self: center;}
#gameInputBox { display: flex; justify-content: space-between; align-items: baseline;}
#playerBoxes {display: flex; justify-content: space-around;}
.playerBox { width: 40%; text-align: center;}
#game {display: flex; justify-content: space-evenly; flex-wrap: wrap;}
#cards {display: flex; justify-content: space-between;}
img {width: 20%; height: auto; border: 3px solid blue; border-radius: 1rem;}
#matchResult {align-self: center;}
#throwHandsButton {width: 20%; align-self: center;}